
$link-colour: blue;
$link-hover-colour: purple;

$text-colour: #000;

$page-background-colour: #fff;
$border-colour: #eee;
$border-colour-dark: #ddd;

$table-row-hover-colour: #0001;

$card-selected-background-colour: #0f04;

$warband-nav-link: #888;

$error-colour: red;