

.deck-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    flex-wrap: nowrap;

    .deck-title {
        padding: 1rem;
        margin-bottom: 0;
        text-align: center;
    }

    .deck-group {
        width: 33%;
        flex-grow: 1;
        border: 1px solid;

        margin: 1rem 0;

        border-radius: 0.5rem;
        padding: 0.5rem;
        // min-height: 23rem;
        box-shadow: 2px 2px #000;

        h4 {
            margin: 0;
            padding: 0.5rem;
            border-bottom: 1px solid;
            margin-bottom: 0.5rem;
            display: flex;
            justify-content: space-between;
        }
    }
}