

.page-header {
    background-color: $text-colour;
    color: white;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    margin-bottom: 0;
}

.page-sub-title {
    background-color: $border-colour;
    color: $text-colour;
    margin-top: 0;
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
}
