

.warband-selector-container {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.25rem;
    margin-top: 1rem;
}

.warband-selector-container select {
    width: 40%;
}

.warband-selector-container button {
    width: 20%;
    cursor: pointer;
}

.warband-selector-container select, .warband-selector-container button {
    outline: none;
    border: 1px solid $warband-nav-link;
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}
